.backdropDark {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fafafa;
  background: #121212;
}

.backdropBlack {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fafafa;
  background: #000000;
}

.backdropLight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #121212;
  background: #fafafa;
}

.contentContainer {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  max-width: 1080px;
  padding: 2em;
}

.section {
  padding: 30px 0px;
}

.backgroundImage {
  width: 100%;
  padding-top: 2rem;
}

.foregroundImage {
  width: 50%;
  border-color: #cacaca;
  border-style: solid;
  border-width: 1px;
}



.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.burgerButton {
  position: fixed;
  left: 1rem;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;   
  color: #fafafa;
}

.thumbnail {
  height: 400px;
}

.headerTransparentBackground {
  background: #12121200;
}

.headerSolidBackground {
  background: #121212;
}

.text {
  font-family: "Raleway",Arial,sans-serif;
}

.text > h1 {
  font-weight: 600;
  font-size: 2em;
}

.text > h2 {
  font-weight: 100;
  font-size: 1.33em;
}

.text > p {
  font-weight: 100;
  font-size: 1em;
}

.header > h1 {
  padding: 0 1.5rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2em;
}

.header > h2 {
  padding: 0 0.5rem;
  font-family: "Raleway",Arial,sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.33em;
}

.header > * > a:hover {
  color: deepskyblue;
}

.row > a:hover {
  color: deepskyblue;
}

.interactive:hover {
  color: deepskyblue;
  cursor: pointer;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2em;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5em;
}

.eventRow {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.eventRow h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.5em;
  font-weight: normal;
}

.eventRow p {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.25;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.spread {
  justify-content: space-between;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.button {
  padding: 0.5rem;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
  border-color: #121212;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.button:hover {
  background-color: #121212;
  color: #fafafa;
}

.aboutTextContainer > p {
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
}

.photosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 15px;
  padding-bottom: 15px;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  display: flex;
  justify-content: center;
}

/* Position the content inside the overlay */
.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fafafa;
}

@media screen and (min-width: 800px) {
  .hideLargeScreen {
    display: none;
  }
}

@media screen and (max-width: 800px) { 
  .hideSmallScreen {
    display: none;
  }

  .text {
    font-size: 0.8rem;
  }

  .thumbnail {
    height: auto;
    max-width: 100%;
  }

  .contentContainer {
    padding: 1em 2em;
  }

  .foregroundImage{
    width: 100%;
  }
}
