.backdropDark {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fafafa;
  background: #121212;
}

.backdropLight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #121212;
  background: #fafafa;
}

.contentContainer {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  max-width: 1080px;
  padding: 75px 34px;
}

.section {
  padding: 30px 0px;
}

.backgroundImage {
  width: calc(100% / 3);
}

.foregroundImage {
  width: 50%;
  border-color: #cacaca;
  border-style: solid;
  border-width: 1px;
}

.thumbnail {
  height: 400px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;   
  color: #fafafa;
}

.headerTransparentBackground {
  background: #121212e6;
  border-radius: 1rem;
}

.headerSolidBackground {
  background: #121212;
}

.text {
  font-family: "Raleway",Arial,sans-serif;
}

.text > h1 {
  font-weight: 600;
  font-size: 2rem;
}

.text > h2 {
  font-weight: 100;
  font-size: 1.33rem;
}

.text > p {
  font-weight: 100;
  font-size: 1rem;
}

.header > h1 {
  padding: 0 1.5rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
}

.header > h2 {
  padding: 0 0.5rem;
  font-family: "Raleway",Arial,sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.33rem;
}

.header > * > a:hover {
  color: deepskyblue;
}

.row > a:hover {
  color: deepskyblue;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #cacaca;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.eventRow {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.eventRow h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.eventRow p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.spread {
  justify-content: space-between;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.button {
  padding: 0.5rem;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
  border-color: #121212;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.button:hover {
  background-color: #121212;
  color: #fafafa;
}

.aboutTextContainer > p {
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
}

.photosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 15px;
  padding-bottom: 15px;
}